<div class="footer"
     style="    border: 2px solid black;
                text-align: center;
                background-color: rgb(240,240,240) ">

        <p> © Copyright Shali - 2015</p>





</div>