<div style="display: inline-block;
            background-color: rgb(92, 61, 31);
            padding: 10px">
    <div style="background-color: gray;
                color: white;
                padding: 10px">
        SignUp Form
    </div>
    <form method="post" action="/signup"
          style="text-align: center;
          background-color: white">

        <label for="username"> Username: </label>
                </br>
                <input type="text" name="username">
                </br>
        <label for="passwordt"> Password: </label>
                </br>
                <input type="text" name="password">
                </br>
        <label for="name"> Name: </label>
                </br>
                <input type="text" name="name">
                </br>
        <label for="email"> Email: </label>
                </br>
                <input type="text" name="email">
                </br>
        <label for="age"> Age: </label>
                </br>
                <input type="text" name="age">
                </br>
        <label for="credit"> Credit: </label>
                </br>
                <input type="text" name="credit">
                </br>
        <label for="comment"> Phone(Comment): </label>
                </br>
                <input type="text" name="comment">
                </br>

        <input type="submit" value="Save">




    </form>
</div>