<div class="navbar"
     style="    border: 2px solid black;
                text-align: center;
                padding: 20px;
                background-color: rgb(240,240,240) ">

    <a href="/"         > Homepage  </a>|
    <a href="/signup"   > Sign Up   </a>|
    <a href="/userslist"> Users List</a>

</div>