<% layout('layout') -%>


<h1><%= title %></h1>
<p>Welcome to <%= title %></p>



    <% include formsignup.ejs%>


    </br>
    </br>



    <%  for (account in accounts){ %>

                <div style="
                        border: 1px solid gray;
                        margin: 10px;
                        padding: 10px;
                        display: inline-block;
                        text-align: center;
                        width: 170px
                        ">
                    <div    style=" background-color: gray;
                                        color: white;
                                        margin: 0 0 10px 0
                                        ">
                        <%= account%>
                    </div>
                    <span style="color:lime"> Username:        </span> <span style="color:black"><%= accounts[account].username%>   </span> </br>
                </div>
                </br>
<% } %>


